<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e9f35b160aa244f695167f71cefd59d8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e9f35b160aa244f695167f71cefd59d8" ></div>
        
</body>
<script>    
    
            var map_e9f35b160aa244f695167f71cefd59d8 = L.map(
                "map_e9f35b160aa244f695167f71cefd59d8",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2b52d1ab22e3457eb3b58e1232e0ea45 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e9f35b160aa244f695167f71cefd59d8);
        
    
            var marker_20be4041e7ff48c1987e6b696e95ee75 = L.marker(
                [22.3511148, 78.6677428],
                {}
            ).addTo(map_e9f35b160aa244f695167f71cefd59d8);
        
    
        var popup_79ef90b48ff94c128a08228825075af5 = L.popup({"maxWidth": "100%"});

        
            var html_534c42ad9a6c44f1a3242a77e080936f = $(`<div id="html_534c42ad9a6c44f1a3242a77e080936f" style="width: 100.0%; height: 100.0%;">India</div>`)[0];
            popup_79ef90b48ff94c128a08228825075af5.setContent(html_534c42ad9a6c44f1a3242a77e080936f);
        

        marker_20be4041e7ff48c1987e6b696e95ee75.bindPopup(popup_79ef90b48ff94c128a08228825075af5)
        ;

        
    
    
            var marker_ea424d4c6c924702a2be8b33aa6b67b2 = L.marker(
                [46.3144754, 11.0480288],
                {}
            ).addTo(map_e9f35b160aa244f695167f71cefd59d8);
        
    
        var popup_69855963419b4e45abccadc18934c811 = L.popup({"maxWidth": "100%"});

        
            var html_6e80335b1e5142aa882a880cab037598 = $(`<div id="html_6e80335b1e5142aa882a880cab037598" style="width: 100.0%; height: 100.0%;">Nanno, Ville d'Anaunia, Comunità della Val di Non, Provincia di Trento, Trentino-Alto Adige/Südtirol, 38012, Italia</div>`)[0];
            popup_69855963419b4e45abccadc18934c811.setContent(html_6e80335b1e5142aa882a880cab037598);
        

        marker_ea424d4c6c924702a2be8b33aa6b67b2.bindPopup(popup_69855963419b4e45abccadc18934c811)
        ;

        
    
    
            var marker_57e6ec500c9f4d418b799ed232f6870f = L.marker(
                [29.0, 76.0],
                {}
            ).addTo(map_e9f35b160aa244f695167f71cefd59d8);
        
    
        var popup_c9ad576f07ab4cc4bbc4d235dcf1c065 = L.popup({"maxWidth": "100%"});

        
            var html_a7dc64f93a214f9c88ca513626cc7eb8 = $(`<div id="html_a7dc64f93a214f9c88ca513626cc7eb8" style="width: 100.0%; height: 100.0%;">Haryana, India</div>`)[0];
            popup_c9ad576f07ab4cc4bbc4d235dcf1c065.setContent(html_a7dc64f93a214f9c88ca513626cc7eb8);
        

        marker_57e6ec500c9f4d418b799ed232f6870f.bindPopup(popup_c9ad576f07ab4cc4bbc4d235dcf1c065)
        ;

        
    
    
            var marker_8c9ceaebdfe14cecbbd9a626fea760cb = L.marker(
                [46.3144754, 11.0480288],
                {}
            ).addTo(map_e9f35b160aa244f695167f71cefd59d8);
        
    
        var popup_57164a9ec88043ef9a619fba91206298 = L.popup({"maxWidth": "100%"});

        
            var html_cbd0fc2e2fd54882a2a24aaf2f7f57b0 = $(`<div id="html_cbd0fc2e2fd54882a2a24aaf2f7f57b0" style="width: 100.0%; height: 100.0%;">Nanno, Ville d'Anaunia, Comunità della Val di Non, Provincia di Trento, Trentino-Alto Adige/Südtirol, 38012, Italia</div>`)[0];
            popup_57164a9ec88043ef9a619fba91206298.setContent(html_cbd0fc2e2fd54882a2a24aaf2f7f57b0);
        

        marker_8c9ceaebdfe14cecbbd9a626fea760cb.bindPopup(popup_57164a9ec88043ef9a619fba91206298)
        ;

        
    
    
            var marker_484b33adfa6d46309b76e95e3422ba2f = L.marker(
                [46.3144754, 11.0480288],
                {}
            ).addTo(map_e9f35b160aa244f695167f71cefd59d8);
        
    
        var popup_530548321f5242f68897194f920c3f0f = L.popup({"maxWidth": "100%"});

        
            var html_4a459c0d54734684869b29dead8cbb5a = $(`<div id="html_4a459c0d54734684869b29dead8cbb5a" style="width: 100.0%; height: 100.0%;">Nanno, Ville d'Anaunia, Comunità della Val di Non, Provincia di Trento, Trentino-Alto Adige/Südtirol, 38012, Italia</div>`)[0];
            popup_530548321f5242f68897194f920c3f0f.setContent(html_4a459c0d54734684869b29dead8cbb5a);
        

        marker_484b33adfa6d46309b76e95e3422ba2f.bindPopup(popup_530548321f5242f68897194f920c3f0f)
        ;

        
    
</script>