<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sources</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Nucleo Icons -->
    <link href="../static/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="../static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="../static/demo/demo.css" rel="stylesheet" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main-panel">
        <div class="content" style="padding-bottom: 20px;">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="typing">
                  <h1>Twitter Platforms<h1>
                </div>
                <div align="center">
                    <canvas id="myChart" width="600" height="400"></canvas>
                </div>
                <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/black-dashboard.min.js?v=1.0.0"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script> 
  <script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = false;

    // define the chart data
    var chartData = {
      labels : [{% for item in labels %}
                 "{{item}}",
                {% endfor %}],
      datasets : [{
          label: '{{ legend }}',
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(75,192,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data : [{% for item in values %}
                    {{item}},
                  {% endfor %}],
          spanGaps: false
      }]
    }

    // get chart canvas
    var holder = document.getElementById("myChart");
    var ctx = document.getElementById("myChart").getContext("2d");

    // create the chart using the chart canvas
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: chartData,
      options: {
        tooltips: {
          enabled: true,
          mode: 'single',
          callbacks: {
            label: function(tooltipItems, data) {
                     return tooltipItems.yLabel + ' tweets';
                   }
          }
        },
      }
    });

    // get the text element below the chart
    var pointSelected = document.getElementById("pointSelected");

    // create a callback function for updating the selected index on the chart
    holder.onclick = function(evt){
      var activePoint = myChart.getElementAtEvent(evt);
      console.log(activePoint);
      console.log('x:' + activePoint[0]._view.x);
      console.log('maxWidth: ' + activePoint[0]._xScale.maxWidth);
      console.log('y: ' + activePoint[0]._view.y);
      console.log('index: ' + activePoint[0]._index);
      pointSelected.innerHTML = 'Point selected... index: ' + activePoint[0]._index;
    };
  </script>

    <script>
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
          $navbar = $('.navbar');
          $main_panel = $('.main-panel');
  
          $full_page = $('.full-page');
          sidebar_mini_active = true;
          white_color = false;
  
          window_width = $(window).width();
  
          $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);
  
            if (white_color == true) {
  
              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').removeClass('white-content');
              }, 900);
              white_color = false;
            } else {
  
              $('body').addClass('change-background');
              setTimeout(function() {
                $('body').removeClass('change-background');
                $('body').addClass('white-content');
              }, 900);
  
              white_color = true;
            }
  
  
          });
  
          $('.light-badge').click(function() {
            $('body').addClass('white-content');
          });
  
          $('.dark-badge').click(function() {
            $('body').removeClass('white-content');
          });
        });
      });
    </script>
    <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
    <script>
      window.TrackJS &&
        TrackJS.install({
          token: "ee6fab19c5a04ac1a32a645abde4613a",
          application: "black-dashboard-free"
        });
    </script>
  </body>
</html>
